{% extends "base.html" %}

{% block content %}
<h1>Resultat de recherche</h1>
<p>Recherche de ville:</p>
<form action="/search/" method="POST">{% csrf_token %}
  <input type="text" name="city">
  <button type="submit">Rechercher</button>
</form>
<p>Resultat de la recherche: </p>
<ul>
    <li><b>Ville: </b>{{ result.city_name }}</li>
    <li><b>Taxe municipal: </b>{{ result.city_taxe }}</li>
    <li><b>Taxe scolaire: </b>{{ result.city_school_taxe }}</li>
    <li><b>Taxe d'eau: </b>{{ result.city_water_taxe }}</li>
</ul>

{% endblock %}